.form-item {
    padding-top: rem(24);
    position: relative;

    &__input,
    &__textarea {
        display: block;
        width: 100%;
        padding: rem(12) rem(15);
        border: none;
        transition: color $trans_sm;
        position: relative;
        z-index: 1;

        &:hover,
        &:focus {
            color: $color_cyan;

            & ~ .form-item__label {

                &::before {
                    box-shadow: inset rem(9) 0 rem(6) rem(-6) $color_gray_5x_shadow_dark, inset 0 rem(9) rem(6) rem(-6) $color_gray_5x_dark_shadow_dark, inset 0 rem(-9) rem(6) rem(-6) $color_gray_5x_shadow_light;
                }

                &::after {
                    box-shadow: inset 0 rem(9) rem(6) rem(-6) $color_gray_3x_shadow_dark, inset rem(-9) 0 rem(6) rem(-6) $color_gray_3x_dark_shadow_light, inset 0 rem(-9) rem(6) rem(-6) $color_gray_3x_shadow_light;
                }

                & .label__text {
                    color: $color_cyan;
                }
            }
        }

        &:focus,
        &:not(:placeholder-shown) {

            & ~ .form-item__label {

                & .label__text {
                    transform: translateY(rem(-36));
                }
            }
        }
    }

    &__input {

        & ~ .form-item__label {
            height: rem(48);
        }
    }

    &__textarea {
        height: rem(192);

        & ~ .form-item__label {
            height: rem(192);
        }
    }

    &__label {
        position: absolute;
        top: rem(24);
        left: 0;
        right: 0;

        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            transition: box-shadow $trans_sm;
        }

        &::before {
            left: 0;
            border-top-left-radius: rem(8);
            border-bottom-left-radius: rem(8);
            box-shadow: inset rem(12) 0 rem(6) rem(-6) $color_gray_5x_shadow_dark, inset 0 rem(12) rem(6) rem(-6) $color_gray_5x_dark_shadow_dark, inset 0 rem(-12) rem(6) rem(-6) $color_gray_5x_shadow_light;
            width: 49.9%;
        }

        &::after {
            right: 0;
            border-top-right-radius: rem(8);
            border-bottom-right-radius: rem(8);
            box-shadow: inset 0 rem(12) rem(6) rem(-6) $color_gray_3x_shadow_dark, inset rem(-12) 0 rem(6) rem(-6) $color_gray_3x_dark_shadow_light, inset 0 rem(-12) rem(6) rem(-6) $color_gray_3x_shadow_light;
            width: 50.1%;
        }

        & .label__text {
            display: block;
            position: absolute;
            top: rem(12);
            left: rem(15);
            transition: color $trans_sm, transform $trans_sm;
            user-select: none;
        }
    }

    &__error {
        color: $color_error;
    }
}
