main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}

*,
*::before,
*::after {
    box-sizing: border-box
}

::-moz-selection {
    background-color: blue
}

::selection {
    background-color: blue
}

html,
body {
    width: 100%
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    text-rendering: optimizeLegibility
}

.title {
    margin: 0;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif
}

.button,
.input,
.textarea {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: .6875rem .875rem;
    border: .0625rem solid #000;
    outline: none;
    background-color: transparent;
    color: #000;
    font-size: 1rem;
    line-height: 1.5
}

.button {
    text-align: center
}

a.button {
    text-decoration: none
}

.label {
    display: inline-block;
    vertical-align: top;
    padding: .375rem 0;
    font-size: 1rem;
    line-height: 1.5
}

.textarea {
    resize: none
}

.form-item__input,
.form-item__textarea {
    display: block;
    width: 100%;
    max-width: 19.5rem
}

.form-item__textarea {
    height: 12rem
}

.form-item__error {
    padding: .375rem 0;
    color: red
}

.form-checkbox {
    padding: .375rem 0
}

.form-checkbox__error {
    padding-top: .375rem;
    color: red
}

.form__form-item+.form__form-item,
.form__form-item+.form__form-checkbox,
.callback__form,
.contact__form {
    margin-top: 1.5rem
}

.form__button {
    width: 100%;
    max-width: 11.875rem;
    margin-top: 1.5rem
}

.callback {
    padding: 2.25rem 1.5rem
}

.contact {
    padding: 2.25rem 1.5rem 3rem
}
