// Variables:

// Fonts:

$font_normal: Arial, Helvetica, sans-serif;
$font_bold: Arial, Helvetica, sans-serif;

// Colors:

$color_black: black;
$color_red: red;
$color_error: $color_red;
$color_selection: blue;
